
*{
    margin : 0px;
    padding: 0px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;;
}

html{
    height: 100%;
}

body{
    min-height: 100%;
    background: burlywood;
    border: 1px solid red;
}